@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-amber-50;
}

.nav-container {
  @apply container flex justify-between px-10 pt-10 pb-5 mx-auto border-b-2 border-black min-w-full md:min-w-max;

  .nav-logo {
    transform: translateY(-10px);
  }
  .nav-links {
    @apply relative overflow-visible flex gap-5 items-center text-lg font-light uppercase;
  }
}

.home-container {
  @apply mt-4 flex items-center;
}
/* Categories container on homepage */
.category {
  @apply container mx-auto flex flex-col items-center justify-between gap-5 md:gap-2 sm:flex-row sm:flex-wrap uppercase;

  &-item {
    @apply relative flex flex-col justify-center items-center px-4 min-w-[80%] sm:min-w-[30%] h-60 overflow-hidden flex-auto rounded-2xl hover:cursor-pointer;

    .category-text {
      @apply flex flex-col gap-3 text-center z-10 bg-white border-2 border-slate-900 opacity-80 py-2 px-5;
      h2 {
        @apply text-xl font-normal;
      }
      p {
        @apply text-sm font-extralight;
      }
    }

    .category-image {
      @apply absolute w-full h-full transition-all duration-100 ease-in-out bg-no-repeat bg-center bg-cover;
    }

    &:hover {
      .category-image {
        @apply scale-110;
      }
    }
  }
  :nth-child(4),
  :nth-child(5) {
    @apply md:h-80;
  }
}

/*Product List */

.productList-container {
  @apply container mx-auto grid grid-cols-2 gap-2 gap-y-7 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;

  .productList {
    @apply flex flex-col px-2 hover:cursor-pointer;

    .productList-imageBody {
      @apply relative after:absolute after:content-[""] after:w-full after:h-full after:bg-black after:opacity-20 after:top-0 after:left-0 hover:after:bg-gray-600;
      .productList-image {
        @apply w-60 h-72 sm:w-72 rounded;
      }
    }

    .productList-details {
      @apply flex justify-between my-3;
    }

    .productList-button {
      @apply bottom-0 left-14 px-4 py-2 rounded bg-slate-900 text-amber-50 active:scale-95 z-10;
    }
  }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  margin-right: 20px;
  margin-top: 5px;
}

.hamburger-top,
.hamburger-mid,
.hamburger-bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: black;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-mid {
  transform: translateY(7px);
}
.hamburger-bot {
  transform: translateY(14px);
}
